<% if @photos %>
    <div class="row">
        <% @photos.each do |photo| %>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading preview">
                        <%= cl_image_tag @meal.photo.url %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% end %>