<div class="row">
    <div class="col-sm-12 text-center" style="margin-top: 15px;">
        <div class="panel panel-info">
            <div class="panel-heading">
                    <%= @meal.name %>
                </div>
                <div class="panel-body">
                    <%= @meal.description %>
                </div>
                <div class="panel-footer">
                    <%= cl_image_tag @meal.photo, :width=>300, :height=>200, :crop=>"scale" %>
                    
            </div>
        </div>
    </div>
</div>