.panel-default .panel-heading {
    color: #565a5c;
    background-color: #edefed;
    font-size: 18px;
    font-weight: 400
}
.panel-heading.preview{
    padding: 0;
}
.panel-heading.preview img{
    width: 100%;
}


.equipments li {
    margin-bottom: 10px;
    list-style-type: none;
}
.text-line-through {
  text-decoration: line-through
}

.panel-title{
    font-family: $panel-title;
}