.form-group {
    
    margin-bottom: 25px;
    
    }
    
     
   .form-control {
    
    border-radius: 2px;
    
    height: 4rem;
    
    }
    
     
   .sidebar-list {
    
    padding-left: 0;
    
    list-style: none;
    
    }
    
     
   .sidebar-item {
    
    padding: 10px 0;
    
    font-size: 16px;
    
    color: #82888a;
    
    border-bottom: 1px solid #CCC;
    
    }
    
     
   .sidebar-link {
    
    color: #82888a;
    
    text-decoration: none;
    
    }
    
     
   .sidebar-link:hover, .sidebar-link:focus {
    
    color: #cacccd;
    
    text-decoration: none;
    
    }
    
     
   .active.sidebar-link {
    
    color: #565a5c;
    
    font-weight: bold;
    
    text-decoration: none;
    
    }
    
     
   .btn-file {
    
    position: relative;
    
    overflow: hidden;
    
    }
    
     
   .btn-file input[type=file] {
    
    position: absolute;
    
    top: 0;
    
    right: 0;
    
    min-width: 100%;
    
    min-height: 100%;
    
    font-size: 100px;
    
    text-align: right;
    
    filter: alpha(opacity=0);
    
    opacity: 0;
    
    outline: none;
    
    background: white;
    
    cursor: inherit;
    
    display: block;
}